
<div class="pagination"> 
    <div class="w3-row"> 
        <div class="w3-col m4 text_center"> 
            {% if page_obj.has_previous %}
                <a href="?page=1">&lt;&lt; 1 </a> | 
                <a href="?page={{ page_obj.previous_page_number }}"> 
                    &lt; Précédente</a> 
            {% else %} 
                    &nbsp; 
            {% endif %} 
        </div>
        <div class="w3-col m4 text_center"> 
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
        </div> 
        <div class="w3-col m4 text_center"> 
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Suivante &gt;</a> | 
                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &gt;&gt;</i> </a><br> 
            {% else %} 
                &nbsp; 
            {% endif %} 
        </div> 
    </div> 
</div> 
