
<!-- templates/base.html --> 
{% load static %} 
<!DOCTYPE html>
    <html>
        <head>
            <title>Litrevu</title>
            <link rel="stylesheet" href="{% static 'CSS/w3.css' %}" > 
            <link rel="stylesheet" media="screen" viewport="screen" href="{% static 'CSS/styles.css' %}" rel="stylesheet">
        </head> 

        <body>
            <div id="home" class="container div_"> 
                
                <div id="header"> 
                    <div class="w3-row"> 
                        <div id="logo" class="w3-col m1">  
                            <img src="../../../reviews/images/logo_gris.png" alt="Alt logo" height="100px"> 
                        </div> 
                        <div id="page_title" class="w3-col m10"> 
                            <h2 class="text_center">{{ header }}</h2> 
                        </div> 
                    </div>
                    <!-- <div class="clear"></div> -->
                </div> 
                <hr> 

                {% block content %}{% endblock content %} 
    
            <hr> 
            <div id="footer"> 
                <p>
                {%  if user.is_authenticated %}
                    Vous êtes connecté en tant que {{ request.user }} | 
                    <a href="{% url 'logout' %}">Se déconnecter</a> | {% endif %} <a href="{% url 'home' %}">Accueil</a> 
                    <!-- <a class="w3-text-deep-orange" href="{# % url 'logout' % #}">Se déconnecter</a> | {# % endif % #} <a href="{# % url 'home' % #}">Accueil</a>  -->
                </p>
            </div> 
        </div> 
    </body> 
</html> 
