<Doctype html> 

    <!-- litrevu/templates/auth/home.html --> 
    {% extends 'base.html' %}
    <!-- {% load static %}  -->
    
    
        <!-- <p>You are visiting from: {# { ip } #}</p>  -->
        <!-- <p>Your location is: {# { location } #}</p>  -->
    
        {% block header %} 
        {# { block.super } #} 
        <h2 class="w80 center green">Home</h2> 
        <hr> 
        {% endblock %} 
    
    
        {% block content %} 
        <div>
    
            Text : {{ test }} 
    
            <!-- <a href="{# % url 'ebp_detail' ebp_id=ebp.id % #}">  --> 
                <!-- <img src="../../uthdemo/{# { ebp.qrcode } #}" alt="Accès doc" height="100px">  -->
            <!-- </a>  -->
    
            {% comment %} 
    
            {% for ot in ots %} 
            <!-- {{ ot.id }}  -->
            {% if '023' not in ot.id and '045' not in ot.id %} <!-- if doc.document_url|slice:":7" == 'images/' /  --> 
            <div class="one_ot">
                <h3>
                    <!-- <a href="http://164.132.50.21:9000/work_order_detail/{{ ot.id }}/" class="list-group-item list-group-item-action gap-3 py-3" aria-current="true"> -->
                    <!-- <a href="../work_order_detail/{{ ot.id }}/" class="list-group-item list-group-item-action gap-3 py-3" aria-current="true"> -->
                    <a href="{% url 'work_order_detail' work_order_id=ot.id %}" class="list-group-item list-group-item-action gap-3 py-3" aria-current="true">
                        {{ ot.racine }}{{ ot.id }} - {{ ot.label }}  
                    </a> 
                </p> 
                <p>{{ ot.address.number }} {{ ot.address.street_name }}<br>  
                    {{ ot.address.zip_code }} {{ ot.address.city }}<br>
                    <br> 
                    <span class="mb-0 opacity-75">Localisation : 
                        <a class="no-block" target="_blank" href="https://www.openstreetmap.org/#map=16/{{ ot.address.lng }}/{{ ot.address.lat }}">
                            Open Street Map
                        </a>
                    </span> 
                </p> 
                <div id="map"></div>
            </div> 
            <hr> 
            {% endif %} 
            {% endfor %} 
    
            {% endcomment %}
    
        </div>
    
    
    {% endblock content %} 
    
    
    
    {% comment %} 
    <!-- {% empty %} 
        <p>Pas d'ordres de travaux </p>  -->
    <!-- {% endfor %}  --> 
    {% endcomment %} 
    