:root { 
  --back_color: #5b5650; 
  --text_color: #ddd; 
  --deco_color: #ff4500; 
  --button_color: #ffa07a; 
  --button_hover: #fa8072; 
} 
body { 
  font-family: sans-serif; 
  background-color: var(--back_color); 
  color: var(--text_color); 
} 
a { 
  text-decoration: none; 
  /* color:#82b827;  */ 
  color: var(--button_color);   
} 
a:hover {
  color: var(--button_hover); 
} 
hr { 
  border-top: 2px solid var(--text_color);  
} 
input { 
  background-color: #eeeeee; 
} 
button { 
  display: block; 
  width: 100%; 
  background-color: var(--button_color); 
  border: var(--back_color) solid 1px; 
} 
button:hover { 
  background-color: var(--button_hover); 
  border: var(--back_color) solid 1px; 
} 
/* img { 
  margin: 5px 0; 
}  */

.bold { 
  font-weight: bold; 
} 
.div_center { 
    margin: 0 auto; 
} 
.clear { 
  clear: both; 
} 
.text_center { 
  text-align: center; 
} 
.input_large input { 
  width: 85%; 
} 

.container { 
  width: 90%; 
  margin: 0 auto; 
  margin-bottom: 20px; 
} 
#logo { 
  max-width: 100px; 
  float: left; 
} 
#page_title { 
  padding-top: 1rem; 
  margin-right: 1rem; 
} 
.cadre { 
  border: var(--deco_color) solid 1px; 
  border-radius: 10px; 
  padding: 1rem; 
  margin-bottom: 20px; 
} 
.login a { 
  width: 95%; 
  display: block; 
} 
.signup, .login { 
  width: 70%; 
  margin: 0 auto; 
} 

/* @media only screen and (max-width: 500px) {
  .pdf_doc { 
    margin: 5px auto; 
    width: 300px; 
    height: 100px; 
  } 
  #map{ 
    height:200px; 
    width: 350px; 
  } 
}  */

/* @media only screen and (min-width: 501px) {
  #home { 
    width: 45%; 
    margin: 0 auto; 
  }  */ 

  /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */  
  /* #map { 
    height:300px;
  }  */
  /* .pdf_doc { 
    margin: 10px auto; 
    width: 400px; 
    height: 400px; 
  } 
}  */





