:root { 
  --back_color: #2E2C29; 
  --middle_grey_color: #95928f; 
  --text_color: #FCFCFC; 
  --deco_color: #ff4500; 
  --button_color: #FFA07A; 
  --button_hover: #fa8072; 
} 
body { 
  font-family: sans-serif; 
  background-color: var(--back_color); 
  color: var(--text_color); 
} 

a { 
  text-decoration: none; 
  color: var(--button_color);   
} 
a:hover {
  color: var(--button_hover); 
} 
button { 
  display: block; 
  width: 100%; 
  background-color: var(--button_color); 
  border: var(--back_color) solid 1px; 
  border-radius: 5px; 
} 
button:hover { 
  background-color: var(--button_hover); 
  border: var(--back_color) solid 1px; 
} 
form label { 
  display: block; 
  width: 200px; 
} 
h2 { 
  font-weight: 600; 
  color: var(--button_hover); 
} 
hr { 
  border-top: 2px solid var(--text_color);  
} 
img { 
  display: block; 
  max-width: 300px; 
  margin: 0 auto; 
} 
input, 
textarea { 
  background-color: #eeeeee; 
} 
table { 
  margin-top: 1rem; 
  margin-bottom: 1rem; 
} 


/* ======== #ids ======== */ 
#create_ticket > div > div:nth-child(2) input { 
  height: 4rem; 
  width: 30rem; 
} 
#header div.w3-row { 
  max-height: 100px; 
} 
input#id_image { 
  color: var(--middle_grey_color); 
} 
#logo { 
  max-height: 150px; 
  float: left; 
  margin-top: 10px; 
  
} 
#menu { 
  display: flex; 
  flex-wrap: nowrap; 
  padding-top: 1rem; 
  margin-right: 1rem; 
  margin-top: 1rem; 
} 
#menu > div {
  background-color: var(--button_color); 
  color: var(--back_color); 
  width: 200px; 
  margin: 10px; 
  text-align: center; 
  line-height: 2rem; 
  font-size: 20px; 
} 
#menu > .menu_link {
  background-color: var(--back_color); 
  width: 200px; 
  margin: 10px; 
  text-align: center; 
  line-height: 1.5rem; 
  font-size: 20px; 
} 
#menu > .menu_no_link { 
  background-color: var(--back_color); 
  color: var(--text_color); 
  border: none; 
  margin-right: 100px; 
} 


/* ======== .classes ======== */ 
.bold { 
  font-weight: bold; 
} 
.border_draft { 
  border: white solid 1px; 
} 
.cadre { 
  border: var(--button_color) solid 1px; 
  border-radius: 10px; 
  padding: 1rem; 
  padding-top: 0; 
  margin-top: 1rem; 
  margin-bottom: 2rem; 
} 
.clear { 
  clear: both; 
} 
.container { 
  width: 90%; 
  margin: 0 auto; 
  margin-bottom: 20px; 
} 
.create 
.delete, 
.edit, 
.login, 
.signup { 
  width: 70%; 
  margin: 0 auto; 
} 
.div_center { 
  margin: 0 auto; 
} 
.input_large input, 
.input_large textarea { 
  width: 85%; 
} 
.login a { 
  width: 95%; 
  display: block; 
} 
.text_center { 
  text-align: center; 
} 
.link_text_dark { 
  color: var(--back_color); 
  font-weight: bold; 
} 
.link_text_dark:hover { 
  color: var(--back_color); 
} 
.new_buttons, 
.review { 
  border: var(--text_color) solid 1px; 
  border-radius: 10px; 
  padding: 1rem; 
  padding-top: 0; 
  margin-top: 1rem; 
  margin-bottom: 2rem; 
} 
.pagination { 
  border: var(--text_color) solid 1px; 
  border-radius: 10px; 
  padding: 1rem; 
  margin-top: 1rem; 
  margin-bottom: 2rem; 
} 
.pagination h5 { 
  margin: 0; 
} 
.serach_button { 
  margin-top: 4rem; ;
} 
.ticket { 
  border: var(--text_color) solid 1px; 
  padding: 1rem; 
  margin-top: 1rem; 
  margin-bottom: 2rem; 
} 
.cadre h5, 
.new_buttons h5, 
.review h5 { 
  margin-bottom: 1rem; ;
} 



/* @media only screen and (max-width: 500px) {
  .pdf_doc { 
    margin: 5px auto; 
    width: 300px; 
    height: 100px; 
  } 
  #map{ 
    height:200px; 
    width: 350px; 
  } 
}  */

