
<!-- reviews/templates/rev/abonnements.html --> 
{% extends 'base.html' %}

{% block content %} 
    <div class="cadre"> <!-- recherche membres -->
        <h3 class="w3-center">Suivre d'autres membres</h3> 
        <form action="" method="get">
            {% csrf_token %} 
            <div class="w3-row"> 
                <div class="w3-col m3"> </div> 
                <div class="w3-col m6"> 
                    {{ form }} 
                </div>
                <div class="w3-col m6"> 
                    <button type="submit">Rechercher</button> 
                </div>
            </div>
        </form> 

        {% if users %} 
        <h2>Résultats de la recherche :</h2> 
        <table class="w3-table w3-striped"> 
            {% for u in users %} 
            <tr> 
                <td>{{ u }} (id : {{ u.id }}) </td> 
                <td><a href="{% url 'create-abo' user_id=u.id %}">S'abonner</a> </td>
            </tr>
            {% empty %} 
                <p>Aucun membre n'a ce pseudo </p> 
            {% endfor %} 
        </table> 
        {% endif %} 
    </div> 

    <div class="cadre"> <!-- abonnements -->
        <h3 class="w3-center">Abonnements</h3> 

        <table class="w3-table w3-striped"> 
            {% for f in followed %} 
            <tr> 
                <td>{{ f.followed_user }} (abonnement ID : {{ f.id }}) </td>
                <td><a href="{% url 'delete-abo' abonnements_id=f.id %}">Se désabonner</a> </td>
            </tr>
            {% empty %} 
                <p>Il n'y a pas d'abonnement </p> 
            {% endfor %} 
        </table> 
    </div> 

    <div class="cadre"> <!-- abonnés -->
        <h3 class="w3-center">Abonnés</h3> 
        Nombre d'abonnés : {{ followers.all.count }} <br> 

        <table class="w3-table w3-striped"> 
            {% for fr in followers %} 
            <tr> 
                <td>{{ fr.user }} </td> 
            </tr> 
            {% empty %} 
            <p>Il n'y a pas d'abonnés </p> 
            {% endfor %} 
        </table> 
    </div> 

{% endblock content %} 
    



