
<!-- <Doctype html>  -->

<!-- blog/templates/auth/home.html --> 
{% extends 'base.html' %}

{% block content %} 
    <div class="cadre">
        Nombre d'abonnements : {{ followed.all.count }} <br> 

        <table class="w3-table w3-striped"> 
            {% for f in followed %} 
            <tr> 
                <td>{{ f.followed_user }} (abonnement ID : {{ f.id }}) </td>
                <td><a href="{% url 'delete-abo' abonnements_id=f.id %}">Se désabonner</a> </td>
            </tr>
            {% empty %} 
                <p>Il n'y a pas d'abonnement </p> 
            {% endfor %} 
        </table> 
    </div>

{% endblock content %} 
    



