
<!-- reviews/templates/rev/abonnements.html --> 
{% extends 'base.html' %}

{% block content %} 
    <div class="cadre"> <!-- recherche membres -->
        <h3 class="w3-center">Suivre d'autres membres</h3> 
        <form action="" method="get">
            {% csrf_token %} 
            <div class="w3-row"> 
                <div class="w3-col m6"> 
                    {{ form }} 
                </div>
                <div class="w3-col m6"> 
                    <button class="serach_button" type="submit">Rechercher</button> 
                </div>
            </div>
        </form> 

        <h2>Résultats de la recherche :</h2> 
        {% if users %} 
        <table class="w3-table w3-striped"> 
            {% for u in users %} 
            <tr> 
                <td>{{ u }} (id : {{ u.id }}) </td> 
                <td><a href="{% url 'create-abo' user_id=u.id %}">S'abonner</a> </td>
            </tr>
            {% empty %} 
                <p>Aucun membre n'a ce pseudo </p> 
            {% endfor %} 
        </table> 
        {% else %} 
        <p> 
            Aucun utilisateur n'a ce pseudo. Essayez avec une autre orthographe. 
        </p> 
        {% endif %} 
    </div> 

    <div class="cadre"> <!-- abonnements -->
        <h3 class="w3-center">Abonnements</h3> 

        <table class="w3-table w3-striped subscriptions"> 
            {% for f in followed %} 
            <tr> 
                <td>{{ f.followed_user }} </td>
                <td><a href="{% url 'delete-abo' abonnements_id=f.id %}">Se désabonner</a> </td> 
            </tr>
            {% empty %} 
            <tr> 
                <td>
                    <p>Vous n'avez pas d'abonnement </p> 
                </td> 
            </tr> 
            {% endfor %} 
        </table> 
    </div> 

    <div class="cadre"> <!-- abonnés -->
        <h3 class="w3-center">Abonnés</h3> 
        Nombre d'abonnés : {{ followers.all.count }} <br> 

        <table class="w3-table w3-striped subscriptions"> 
            {% for fr in followers %} 
            <tr> 
                <td>{{ fr.user }} </td> 
                <td><a href="{% url 'block-user' block_user_id=fr.user.id user_id=fr.followed_user.id %}"> 
                    Bloquer l'utilisateur 
                </a> </td> 
            </tr> 
            {% empty %} 
            <tr> 
                <td>
                    <p>Vous n'avez pas d'abonné </p> 
                </td> 
            </tr> 
            {% endfor %} 
        </table> 
    </div> 

{% endblock content %} 
    



