
<!-- blog/templates/auth/home.html --> 
{% extends 'base.html' %}

{% block content %} 

    <!-- TODO contenu de la page (ça c'est home) -->
    <!-- Section boutons nouveaux --> 

    <div class="cadre"> <!-- reviews --> 

        {% for post in posts %} 
        <!-- <strong>USER : {# {user} #}</strong> -->

            {% if post.content_type == 'REVIEW' %} 
                <hr> 
                <div class="review"> 
                    {% include 'rev/review_snippet.html' %} 
                    <div class="w3-row"> 
                        <div class="w3-col m10"> 
                            &nbsp; 
                        </div>
                        <a class="w3-col m2 text_center" href="{% url 'edit-review' review_id=post.id %}"> 
                            Modifier la revue 
                        </a> 
                    </div> 

                </div> 
            
            {% elif post.content_type == 'TICKET' %} 
                <div class="ticket"> 
                    {% include 'rev/ticket_snippet.html' %} 
                    <div class="w3-row"> 
                        <div class="w3-col m2"> 
                            <img src="../../../reviews/images/{{ post.image }}" 
                                alt="Image ticket {{ t.id }}" height="100px"> 
                        </div> 
                        <div class="w3-col m8"> 
                            &nbsp; 
                        </div>
                        <a class="w3-col m2 text_center" href="{% url 'create-review' ticket_id=post.id %}"> 
                            Créer une revue 
                        </a> 
                    </div> 
                </div> 
            {% endif %} 
        {% endfor %}
    </div>
{% endblock content %} 

<!-- - Titre : "Vos posts" 
+ 1 cadre par revue : 
    - Titre : "Vous avez publié une revue" (left) 
    - date - heure (right) 
    - note 
    - Commentaire 
    + Sous-cadre : 
        - "Ticket username" 
        - Titre - auteur 
        - image  --> 

<!-- + 1 cadre par ticket : 
    - Titre "Vous avez pblié un ticket" (left) 
    - date - heure (right) 
    - Titre - auteur 
    - Description 
    - Image  -->

