
<!-- blog/templates/auth/home.html --> 
{% extends 'base.html' %}

    {% block content %} 

    <form method="POST"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <div class="w3-row">
            <div class="w3-col m3">&nbsp; </div> 
            <div class="w3-col m6"> 
                <button type="submit">Enregistrer</button> 
            </div> 
        </div> 
    </form> 
    <div class="w3-row">
        <div class="w3-col m3">&nbsp; </div> 
        <div class="w3-col m6"> 
            <button onclick="history.back()">Retour</button> 
        </div> 
    </div> 

    {% endblock content %} 




