
<!-- review/templates/rev/delete_ticket.html --> 
{% extends 'base.html' %}

{% block content %} 

        <div class="delete"> 
            <h1>Supprimer un ticket</h1>

            <p> 
                Etes-vous sûr de vouloir supprimer le ticket {{ post.id }} qui a pour titre : "{{ post.title }}" ? 
            </p> 
            <div class="ticket"> 
                {% include 'rev/includes/ticket_snippet.html' %} 
            </div> 

            <form action="" method="post">
                {% csrf_token %} 
                <button type="submit">Supprimer</button> 
            </form>
            <button onclick="history.back()">Retour</button> 

        </div> 

{% endblock content %} 



