
<!-- review/templates/rev/delete_ticket.html --> 
{% extends 'base.html' %}

{% block content %} 

        <div class="delete"> 
            <h1>Supprimer un ticket</h1>

            <p> 
                Etes-vous sûr de vouloir supprimer le ticket {{ post.id }} qui a pour titre : "{{ post.title }}" ? 
            </p> 
            <div class="ticket"> 
                <p>{{ post.title }} </p> 
                <p>{{ post.description }} </p> 
                <div class="w3-row"> 
                    <div class="w3-col m2"> 
                        <img src="../../../reviews/images/{{ post.image }}" 
                            alt="Image ticket {{ t.id }}" height="100px"> 
                    </div> 
                    <div class="w3-col m10"> 
                        &nbsp; 
                    </div>
                </div> 
                {# % include 'rev/includes/ticket_snippet.html' % #} 
            </div> 

            <form action="" method="post">
                {% csrf_token %} 
                <button type="submit">Supprimer</button> 
            </form> 
            <br> 
            <button onclick="history.back()">Retour</button> 

        </div> 

{% endblock content %} 



