
<!-- reviews/templates/rev/delete_abo.html --> 
{% extends 'base.html' %} 

{% block content %} 

        <div class="delete"> 
            <h1>Se désabonner</h1>

            <p>Etes-vous sûr de vouloir supprimer l'abonnement {{ abo.id }} : {{ abo.followed_user }} ?</p> 

            <form action="" method="post">
                {% csrf_token %} 
                <button type="submit">se désabonner</button> 
            </form>
            <button onclick="history.back()">Retour</button> 

        </div> 

{% endblock content %} 



