
{% extends 'base.html' %} 

{% block content %} 

<div class="w3-row"> 
    <div class="w3-col m3">&nbsp; </div> 
    <div class="cadre w3-col m6"> 
        <h5>Vous êtes en train de poster en réponse à </h5>
        <div class="ticket"> 
            <p><div class="w3-row">
                <span class="w3-col m8">
                    ({{ ticket.id }})
                </span> 
                <span class="w3-col m4">
                    {{ ticket.time_created }} 
                </span>
            </div></p>
            <p>{{ ticket.title }}</p>  
            <p>{{ ticket.description }} </p> 
            <p><img src="../../../reviews/images/{{ ticket.image }}" 
                alt="Image du ticket"> </p> 
            <!-- <p><img src="../../../reviews/images/{# { post.ticket.image } #}" 
                alt="Image ticket {{ post.ticket.id }}" height="100px"> </p>  -->
        </div> 

    </div> 


    <form id="create_review" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <div class="w3-row"> 
            <div class="w3-col m3">&nbsp; </div> 
            <div class="w3-col m6"> 
                {{ form.as_p }} 
                <button type="submit">Enregistrer</button> 
            </div> 
        </div> 
    </form> 
    <div class="w3-row"> 
        <div class="w3-col m3">&nbsp; </div> 
        <div class="w3-col m6">  
            <button onclick="history.back()">Retour</button> 
        </div> 
    </div> 
</div> 

{% endblock content %} 


- Titre : "Modifier une critique" 
    + Cadre 1 (pas form) : 
        - Titre cadre 1 : "Vous êtes en train de poster en réponse à " 
        + Sous-cadre : 
            - "Username a demandé une critique" (left) 
            - Date - heure (right) 
            - Titre - Auteur 
            - Description 
            - image 
    + Cadre 2 : 
        - Titre : "Critique" 
        + Form : 
            - Titre 
            - Note : radio [0 - 5] *** corriger modèle *** 
            - Commentaire 
            - Bouton : "Envoyer" 


