
<!-- reviews/templates/rev/home.html --> 
{% extends 'base.html' %}

    {% block content %} 

    {% include 'rev/includes/pagination.html' %} 

    <!-- Section boutons nouveaux --> 
    
    <section class="w3-row new_buttons"> 
        <h5 class="text_center bold">Nouveaux</h5> 

        <div class="w3-col m6"> 
            <form action="../create_ticket" method="GET"> 
                {% csrf_token %} 
                <button type="submit">Créer un ticket</button> 
            </form> 
        </div>
        <div class="w3-col m6"> 
            <form action="../create_new_review" method="GET"> 
                {% csrf_token %} 
                <button type="submit">Créer une revue</button> 
            </form> 
        </div>
    </section> 

    <!-- <hr>  -->
    
    <div class="cadre"> <!-- reviews --> 
        <h5 class="w3-center bold">Votre flux</h5> 
        
        {% for post in page_obj %} 
        
            {% if post.content_type == 'REVIEW' %} 
                <div class="review"> 
                    <div class="w3-row"> 
                        <p class="bold w3-col m10">
                            {% if post.user == user %} 
                            Vous avez 
                            {% endif %} 
                                {% for f in followed %} 
                                    {% if post.user.username == f.followed_user.username %} 
                                        {{ f.followed_user.username }} a 
                                    {% endif %} 
                                {% endfor %} 
                            publié une revue (ID : {{ post.id }}) 
                        </p> 
                        <p class="w3-col m2">{{ post.time_created }} </p> 
                    </div>
                    {% include 'rev/includes/review_snippet.html' %} 
                </div> 
            
            {% elif post.content_type == 'TICKET' %} 
                <div class="ticket"> 
                    <div class="w3-row"> 
                        <p class="bold w3-col m10">
                            {% if post.user == user %} 
                            Vous avez 
                            {% endif %} 
                            {% for f in followed %} 
                                {% if post.user.username == f.followed_user.username %} 
                                    {{ post.user.username }} a 
                                {% endif %}
                            {% endfor %} 
                            publié un ticket (ID : {{ post.id }}) 
                        </p> 
                        <p class="w3-col m2">{{ post.time_created }} </p> 
                    </div> 
                    {% include 'rev/includes/ticket_snippet.html' %} 
                    <div class="w3-row"> 
                        <div class="w3-col m2"> 
                            <img src="../../../reviews/images/{{ post.image }}" 
                                alt="Image ticket {{ post.id }}" height="100px"> 
                        </div> 
                        <div class="w3-col m8"> 
                            &nbsp; 
                        </div>
                        <a class="w3-col m2 text_center" href="{% url 'create-review' ticket_id=post.id %}"> 
                            Créer une revue 
                        </a> 
                    </div> 
                </div> 
            {% endif %} 
            
        {% endfor %}
    </div> 

    {% include 'rev/includes/pagination.html' %} 

{% endblock content %} 


