
<!-- reviews/templates/rev/home.html --> 
{% extends 'base.html' %}

    {% block content %} 

    <!-- Section boutons nouveaux --> 
    <section class="w3-row"> 
        <div class="w3-col m6"> 
            <form action="../create_ticket" method="GET"> 
                {% csrf_token %} 
                <button type="submit">Créer un ticket</button> 
            </form> 
        </div>
        <div class="w3-col m6"> 
            <form action="../create_new_review" method="GET"> 
                {% csrf_token %} 
                <button type="submit">Créer une revue</button> 
            </form> 
        </div>
    </section> 


    <div class="cadre"> <!-- reviews --> 
        <h5 class="w3-center bold">Votre flux</h5> 

        {% for post in posts %} 
        
            {% if post.content_type == 'REVIEW' %} 
                <hr> 
                <div class="review"> 
                    {% include 'rev/review_snippet.html' %} 
                </div> 
            
            {% elif post.content_type == 'TICKET' %} 
                <div class="ticket"> 
                    {% include 'rev/ticket_snippet.html' %} 
                </div> 
                {# % endfor % #} 
            {% endif %} 
            
        {% endfor %}
    </div>

{% endblock content %} 


