
<!-- review/templates/rev/block_user.html --> 
{% extends 'base.html' %}

{% block content %} 

        <div class="delete"> 
            <h1>Opération impossible</h1>

            <p> 
                Impossible de vous abonner à cet utilisateur {{ user.id }} qui a pour pseudo : "{{ blocked_user.username }}". 
            </p> 

            <button value="Retour abonnements"> 
                <a class="link_text_dark" href="{% url 'abonnements' %}"> 
                    Retour abonnements 
                </a> 
            </button> 

        </div> 

{% endblock content %} 



